{% extends 'base_app/baseline.html' %}
{% block content %}


{%load static%}


<div class="fs-5 fw-1">
    <div class="container-fluid">
        <div class="row bg-secondary text-center " style="min-height: 180px;">
            <h3 class="p-3 align-self-center text-white">About BeLISAC</h3>
        </div>
        <div class="container p-4">
            <p>Bangladesh Research and Education Network (BdREN) Trust is the National Research and Education Network
                (NREN) of Bangladesh. It provides high-speed optical fiber network connectivity to all the Public
                Universities and a few of the Private Universities spanned across different parts of the country using
                its own state-of-the-art DWDM Transmission Network. Some of the prominent services that are being
                provided by BdREN are: Internet, Global Research Network Connectivity, Video Collaboration, IP
                Telephony, Hosting, Virtualization and Computing, Training, Consultancy and others. One of the most
                popular services is the “eduroam” service which we are providing to our distinguished members. As of now
                we could reach out to 20 Institutions with around 2000 APs broadcasting the “eduroam” SSID.</p>

            <p>BdREN was awarded with a project named “facilitating Distance Learning using Digital Conferencing
                facility [fDLuDCf]” under CFP2 where NORDUnet was the technical advisor and Sri Lanka, Nepal, Bhutan,
                Philippines and Thailand were the beneficiary countries. It was a phenomenally successful project
                particularly once the pandemic invaded the entire world with all its ferocity and forced the closure of
                the educational institutes. With almost 20,000 Zoom Licenses shared between 5 countries with Bangladesh
                and Sri Lanka getting the majority, we could make an outstanding impact in the community by extending
                the Zoom Accounts to the faculty members to conduct their classes online.</p>

            <p>One of the challenges that emerged in the form of NORDUnet’s complains that the beneficiary countries are
                not allowed to use these licenses in production mode because the load became so high that it started
                overloading the NORDUnet computing resources engaged for hosting all those classes. All the beneficiary
                countries came up with the “On-prem” Licensing solution where the load remained within the platform
                which holds the licenses. The solution could pacify NORDUnet, but it started choking the hardware of the
                beneficiary countries. NREN and DrukREN, with no computing resources at their disposal, headed into the
                deepest trouble. Also, LEARN did face similar issues, but they could somehow scrape through by
                staggering the classes throughout the day and leasing computing resources from larger universities.
                BdREN overcame the challenges by procuring new hardware.</p>

            <p>In order to get rid of such hardware crunching problem in future and in order to cater more meetings and
                classes in future, this project proposal encompasses procurement of computing resources which will be
                placed at 4(four) Data Centers in Sri Lanka, Bangladesh, Nepal and Bhutan. In addition to these 4(four)
                countries, CamREN and LERNET have been included who will be provided Zoom Controller and Zoom MMR
                facilities from the installed hardware in these 4(four) countries. Other countries participating in
                Asi@Connect project from LDC, LMIC and UMIC economies may use this computing and memory resources
                provided there is any spare capacity. This will be amazing resource sharing demonstration in Asi@Connect
                community. This happened before in the fDLuDCf project where BdREN computing resources were shared with
                Nepal REN (NREN) in terms of configuring MMR in BdREN Data Center which were used by Nepal RENs.</p>

            <p>As a follow-up of fDLuDCf project, all the Zoom licensing resources under this project will be provided
                by NORDUnet. It is to be mentioned that under fDLuDCf project NORDUnet provided around 30,000 Zoom
                licenses for six (6) countries which is still there even after the project expiry of the project on June
                2021 as a goodwill gesture with the commitment that NORDUnet is not going to withdraw it till a
                sustainable solution becomes available for all the beneficiary countries.</p>

            <p>Moreover, capacity development in the form of recruitment of female interns and female engineers will be
                there in all six (6) countries the project. In addition to those female interns and engineers of NRENs
                of six (6) countries, Engineers (both male and female) of NRENs of four (4) countries where computing
                resources will be installed, will be trained up both onsite [hands-on] and online [virtually].</p>

            <p>
                The project has been planned to be Tri-party financed:
            <ul>

                <li> <p>
                    NORDUnet: Capacity Development of a group of Female Interns in all six (6) countries, Grooming of
                        Female Engineers in all six (6) countries, Distribution of logistic resources (laptops) for the
                        engineers, Visit to NORDUnet conference for all those 6 (six) female engineers.
                </p></li>
                <li> <p>BdREN, LEARN and NREN: 20%, 20% and 10% of cost of computing resources.</p></li>
                <li> <p>
                    Asi@Connect/TEIN*CC: The bulk of the cost of the Computing Resources, Capacity Development cost of
                        a group of female interns in four (4) countries, Capacity Development of NREN engineers in four (4)
                        countries and visibility and promotional cost.
                </p></li>
            </ul>
            </p>
            <img src="{% static 'base_app/about1.png' %}" alt="" class="rounded mx-auto d-block">


          


        </div>
    </div>


























</div>





















{% endblock %}