{%load static%}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{% static 'portfolio/logo.png' %}">
    <title>BeLISAC</title>
    <link rel="stylesheet" href="{% static 'base_app/style.css' %}">

</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand">BeLISAC   Building e-Learning Infrastructure for South Asian Countries</a>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
          
          <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container-fluid">

                <a class="mx-5 px-2" href="{% url 'home' %}">
                  <img src="{% static 'base_app/logo.svg' %}" style="height: 200px; width: 200px;" class="img-fluid" alt="Logo">
                  
                </a>
                <a class="navbar-brand mx-5 fw-bold">
                  <p>BeLISAC</p>
                  <p class="">Building e-Learning Infrastructure for South Asian Countries</p>
                </a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Events</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="#">Registration</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Activities
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">News</a>
                  </li>
                </ul>
                
              </div>
            </div>
          </nav>

          
            


        <div class="container-fluid" style="background:rgb(255, 255, 255);">
            {% block content %}{% endblock %}
        </div>







        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    </div>
    <div class="footer text-center">
      <div class="d-flex justify-content-around">
        <p>BdREN Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est ipsam, magnam, quibusdam aut temporibus ea, sequi beatae praesentium minus aliquid nostrum nesciunt! Dolorem distinctio quis laborum veniam dicta repellendus natus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia odio beatae laboriosam culpa dicta, veritatis voluptate. Sapiente, est ullam quisquam dolorem maiores veniam? Accusamus alias deserunt reiciendis omnis, error magni.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam velit ipsa excepturi illum cupiditate numquam a consequatur quibusdam, nisi quos ullam? Quos alias nostrum animi eius pariatur molestiae corrupti? Ratione.</p>
      </div>

     </div>
     <footer id="footer" class="footer-1">
      <div class="main-footer widgets-dark typo-light">
          <div class="container">
              <div class="row">
                  <!-- Widget Column -->
                  <div class="col-sm-3">
                      <!-- Widget -->
                      <div class="widget no-box">
                          <!-- Footer Logo -->
                          <a class="logo" href="index.php">
                              <img src="https://www.bdren.net.bd/asset/images/default/logo-footer.png" height="48" width="200" class="img-responsive" alt="BdREN">
                          </a>
                          <!-- Footer About Us -->
                          <!--                        <p>Agenchy is one of the world’s leading financial consulting firms.</p>-->
                          <!-- Footer About Us -->
                      </div><!-- Widget -->
                      <!-- Widget -->
                      <div class="widget contact-widget no-box">
                          <h5>BdREN,</h5>
                          <ul>
                              <li><a href="#"><i class="icon icon-Pointer"></i>Plot: E-18/A, UGC Bhaban,
                                      Agargaon Administrative Area, Sher-e-Bangla Nagar, Dhaka-1207</a></li>
                              <li><a href="#"><i class="icon icon-Phone2"></i> +880-9612-223736</a></li>
                              <li><a href="#"><i class="icon icon-Mail"></i>noc@bdren.net.bd</a></li>
                          </ul>
                      </div><!-- Widget -->
                  </div><!-- Column -->
  
                  <!-- Widget Column -->
                  <div class="col-sm-3">
                      <!-- Widget -->
  
                      <div class="widget">
                          <h5 class="widget-title">Useful Links<span></span></h5>
                          <ul class="go-widget">
                              <li><a href="https://moedu.gov.bd/" target="_blank">Ministry of Education</a></li>
                              <li><a href="http://www.ugc.gov.bd/" target="_blank">UGC</a></li>
                              <li><a href="http://www.heqep-ugc.gov.bd/" target="_blank">HEQEP</a></li>
                              <li><a href="http://www.ugc.gov.bd/en/home/university/public/120" target="_blank">Public University</a></li>
                              <li><a href="http://www.ugc.gov.bd/en/home/university/private/75"  target="_blank">Private University</a></li>
                              <li><a href="http://www.ugc.gov.bd/en/home/university/international/76" target="_blank">International University</a></li>
                          </ul>
                      </div><!-- Widget -->
  
                  
                  <!-- Widget Column -->
                  <div class="col-sm-3">
                      <!-- Widget -->
                      <div class="widget">
                          <h5 class="widget-title">Popular Tags<span></span></h5>
                          <ul class="tag-widget">
                              <li><a href="https://www.bdren.net.bd/service/bandwidth-connectivity" target="_blank">Bandwidth & Connectivity</a></li>
                              <li><a href="#">Cloud Computing</a></li>
                              <li><a href="https://www.bdren.net.bd/service/quality-service" target="_blank">Networking</a></li>
                              <li><a href="https://www.bdren.net.bd/service/tariff-of-bdren-services" target="_blank">Tarrif of BdREN</a></li>
                              <li><a href="https://www.bdren.net.bd/service/trainning-and-capacity-building" target="_blank">Trainning</a></li>
                              <li><a href="https://www.bdren.net.bd/service/video-conferencing" target="_blank">Video Conference</a></li>
                              <li><a href="https://www.bdren.net.bd/service/consultancy" target="_blank">Consultancy</a></li>
                          </ul>
                      </div><!-- Widget -->
                      <!-- Widget -->
                      <div class="widget">
                          <!-- Social Icons Color -->
                          <ul class="social-icons color">
                              <li class="facebook"><a href="https://facebook.com/BdRENUGC/" target="_blank" title="Facebook">Facebook</a></li>
                              <li class="twitter"><a href="https://twitter.com/BdRENUGC" target="_blank" title="Twitter">Twitter</a></li>
                              <li class="linkedin"><a href="https://linkedin.com/company/bangladesh-research-&-education-network-bdren-/" target="_blank" title="Linkedin">Linkedin</a></li>
                              <li class="flickr"><a href="http://www.flickr.com/" target="_blank" title="flickr">flickr</a></li>
                              <li class="youtube"><a href="https://www.youtube.com/channel/UCf7LwhlaPBTwprkw8p7qG2g" target="_blank" title="Youtube Channel">googleplus</a></li>
                          </ul>
                      </div><!-- Widget -->
                  </div><!-- Column -->
  
                  <!-- Widget Column -->
    
              </div><!-- Row -->
          </div><!-- Container -->
      </div><!-- Main Footer -->
  
      <!-- Footer Copyright -->
      <div class="footer-copyright typo-light">
          <div class="container">
              <div class="row">
                  <!-- Copy Right Content -->
                  <div class="col-md-7">
                      <p>&copy; Copyright 2020. All Rights Reserved <a href="index.php" title="BdREN">BdREN</a>. Developed By <a href="http://www.telecontran.com/" title="Telecontran Ltd." target="_blank">Telecontran Limited</a></p>
                  </div><!-- Copy Right Content -->
                  <!-- Copy Right Content -->
                  <div class="col-md-5">
                      <nav class="sm-menu">
                          <ul>
                              <!--                            <li><a href="contact.php">Legal</a></li>-->
                              <li><a href="#">Sitemap</a></li>
                              <li><a href="https://www.bdren.net.bd/contact">Privacy Policy</a></li>
                          </ul>
                      </nav><!-- Nav -->
                  </div><!-- Copy Right Content -->
              </div><!-- Footer Copyright -->
          </div><!-- Footer Copyright container -->
      </div><!-- Footer Copyright -->
  </footer>
  
  



</body>

</html>

