{% extends 'base_app/baseline.html' %}
{% block content %}
{%load static%}
<div class="row bg-secondary bg-opacity-90 text-center " style="min-height: 180px;">
  <h3 class="p-3 align-self-center text-white">NEWS</h3>
</div>
<div class="container-lg pt-4 mb-4">





  <ul class="list-group list-group-flush">
    {% for news in everynews %}
    <li class="list-group-item">
      <div class="px-3">
        <a href="{{ news.url }}">
          <img src="{{ news.image.url }}" class="img-fluid mb-2 " style="width:150px;height: auto;">
        </a>
        <div class="px-3">
          <p class="fs-6">{{ news.title }}</p>
          <p class="fs-6">{{ news.description }}</p>
        </div>
    </li>
    {% endfor %}

  </ul>
</div>

{% endblock %}