body{
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
}
body {
    position: relative;
  }
  
.nav-bg{
    background-color: rgb(42, 58, 133);
}

.container{
    min-height: 800px;
}
.container-fluid {
    padding: 0px;
}
@media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}


.nav-item{
    margin-left: 5px;  
}
h3{
    color: rgb(24, 24, 63);
    
}




.footer{
    color: rgba(255, 255, 255, 0.616);
}

a, a:hover{
    text-decoration: none;
    color: black; 
}
a{
    color: rgb(0, 0, 0);
}

p{
    font-size: 0.8rem;
}

.navbar-nav.ms-auto.float-end.fs-5 li a{
    color: rgba(255, 255, 255, 0.705);
}
