body{
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    /* padding-left: 0px;
    padding-right: 0px; */
}

.container{
    min-height: 800px;
}
.container-fluid {
    padding: 0px;
}
@media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}

.nav-item{
    margin-left: 5px;  
}
/* nav a img{
    height: 50%;
    width:  50%;
    
} */


.footer p {
    background-color: rgba(156, 153, 153, 0.349);
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 0.7rem;
    margin-top: 100px;
    width: 100%;

}
a, a:hover{
    text-decoration: none;
    color: black;
   
}
a{
    color: white;
}

p{
    font-size: 1.1rem;
}
.navbar-nav.ms-auto.float-end.fs-5 li a{
    color: rgba(255, 255, 255, 0.705);
}
