body{
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
}
.nav-bg{
    background-color: rgb(42, 58, 133);
}

.container{
    min-height: 800px;
}
.container-fluid {
    padding: 0px;
}
@media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}


.nav-item{
    margin-left: 5px;  
}



.footer p {
    background-color: rgba(156, 153, 153, 0.349);
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 0.7rem;
    margin-top: 100px;
    width: 100%;

}

a, a:hover{
    text-decoration: none;
    color: black; 
}
a{
    color: rgb(0, 0, 0);
}

p{
    font-size: 0.5rem;
}

.navbar-nav.ms-auto.float-end.fs-5 li a{
    color: rgba(255, 255, 255, 0.705);
}
